<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Category Form</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    </script>
</head>
<body>
<!--/*@thymesVar id="category" type="local.springframework.model.Category"*/-->
    <div class="container-fluid">
        <div>
            <h2>New Category</h2>
        </div>
        <div>
            <form th:object="${category}" th:action="@{/categories/}"  method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group">
                    <label for="category">Description</label>
                    <input type="text" class="form-control" id="category" placeholder="Enter category description" th:field="*{description}">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>